@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  
  font-weight: normal;
  
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

h1 {
  text-align: center;
}

.appThing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.7rem;
}

.card {
  border: 1px solid black;
  padding: 0.3rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 16px;
}

button {
  font-size: 16px;
}